<% if (lessons.length > 0) { %>
  <!-- Output course_desc only once -->
  <div class="course-desc-container">
    COURSE TITLE
    <hr>
    <% if (lessons[0].course_title) { %>
      <h3><%= lessons[0].course_title %></h3>
      <% } else { %>
        <p class="course-description">No title available for this course.</p>
        <% } %>
    COURSE DESCRIPTION
    <hr>
    <% if (lessons[0].course_desc) { %>
  <h3 class="course-description"><%= lessons[0].course_desc %></h3>
  <% } else { %>
    <p class="course-description">No description available for this course.</p>
    <% } %>
    COURSE CODE
    <hr>
    <% if (lessons[0].course_code) { %>
      <code style="font-size:x-large;"><%= lessons[0].course_code %></code>
      <% } else { %>
        <p class="course-description">No code available for this course.</p>
        <% } %>
  </div>
COURSE LESSONS
<hr>
  <% lessons.forEach((lesson) => { %>
    <div class="lesson-container">
      <h3 class="lesson-title"><%= lesson.title %></h3>
      <div>
        <button hx-delete="/api/lessons/l/<%= lesson.id %>/c/<%= lesson.course_id %>" hx-target="#courses-container" hx-confirm="Are you sure you want to delete this lesson?">🗑️</button>
      </div>
    </div>
  <% }) %>
<% } else { %>
  <p>No lessons available.</p>
<% } %>
